/* Esto es un comentario en CSS
SELECTOR {
    PROPIEDAD : 1233131
    PROPIEDAD: "23e23px"
}
bgcolor="lightblue"
*/

* {
    font-size: x-large;
    /*font-size: 2rem;*/
    /*font-family: fantasy; /* En mi caso tengo esta font y la uso*/
}

/* Toda la pagina siempre debe tener fondo negro */
body {
    background-color:black;
}

footer {
    background-color:mediumorchid !important;
    color: white;
    font-family: 'Klee One', cursive;
    position: absolute; 
    bottom: 10%; 
    left: 30px;
}

header {
    background-color: black;
    color: white;
}

a {
    color: white;
    border-color: chartreuse;
    border-style:dotted;
    border-width: 10px;
    /*background-color: black !important; Importante recordar que esto 
    puede alterar elementos no deseados*/
}

/* Primer pseudo-clase*/
a:hover {
    background-color: white;
}

#iniciar {
    color: white;
}

.whitebg {
    background-color: white;
    color: black;
}

body > table > tbody > tr {
    background-color: black;
    color: white;
}

/*body > table > tbody > tr > td:nth-child(2) > section > p {
    background-color: black;
    color: white;
}*/

ul, h2 {
    color: white;
}

.fa-cloud {
    color: red;
}

body > header > i.fas.fa-car {
    scale: 120;
}


tr:nth-child(odd) > td {
    padding-top: 50px;
}

/***************************************************/
/*   Estilo del componente Musica Boton -          */
/***************************************************/
@keyframes cambiarColor {
    from { background-color: red;}
    to { background-color: yellow;}
}

.musicButton {
    border-color: red;
    /* Tuve que sobrescribir el estilo de a por mi class*/
    border-style: none;
    border-width: 2px;
    /*transition: ease-out;
    transition-duration: 5s;*/
    animation-name: cambiarColor;
    animation-duration: 5s;
}

.musicButton:hover {
    background-color: red;
    box-shadow: chartreuse;
}

.player {
    color: white !important; /* Lo hice important porque el class item 4 de la grid tiene mas prioridad*/
    /*position: absolute; 
    bottom: 1%; 
    left: 0px;*/
}

/********************************************************/
/*    Grid container CSS                            */
/********************************************************/
.item1 { 
    grid-area: header;
    border-color: black;
    border-style: dotted; 
}
.item2 { 
    grid-area: menu; 
    border-color: black;
    border-style: dotted;
}
.item3 { 
    grid-area: main; 
    border-color: black;
    border-style: dotted;
}

.item4 { 
    grid-area: footer; 
    border-color: black;
    border-style: dotted; 
    color: red;
}

.grid-container {
    width: 100%;
    display: grid;
    /* Intentamos duplicar el area de la derecha en comparacion con la del menu*/
    grid-template-areas:
      'menu header header '
      'menu main main '
      'footer footer footer ';
    /*grid-gap: 10px;*/
    border-color: black;
    border-style: dotted;
     background-color: #2196F3;
    padding: 0px;
  }
  


/***************************************************/
/*         Media queries, arranco por mobile         */
/****************************************************/
@media only screen and (max-width: 660px) {
    
    #listcontainer {
        display: flex;
        flex-direction: col;
    }

    .main_container {
        display: flex;
        flex-direction: column;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: start;
        align-items: auto;
        align-content: start
    }
    
    .item {
        flex: 0 0 auto;
        margin: 10px;
    }

    footer {
        display: none;
    }

  }
/***************************************************/
/*   Estilo del componente boton - fondo blanco   */
/***************************************************/
