<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Document</title>
</head>

<body>
    <a href="../../index.html">Ir a Home </a>
    <h2>
        Mi Playlist
    </h2>
    <div class="main_container">
        <div>
            <ul>
                <li>
                    Esto es parte de una lista
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="item">
                <a class="musicButton" href="#">
                    <img width="80px" height="80px" src="../../assets/images/fondo_01.png">
                </a>
            </div>
            <div class="item">
                <a class="musicButton" href="#">
                    <img width="80px" height="80px" src="../../assets/images/fondo_01.png">
                </a>
            </div>
            <div class="item">
                <a class="musicButton" href="#">
                    <img width="80px" height="80px" src="../../assets/images/fondo_01.png">
                </a>
            </div>
            <div class="item">
                <a class="musicButton" href="#">
                    <img width="80px" height="80px" src="../../assets/images/fondo_01.png">
                </a>
            </div>
            <div class="item">
                <a class="musicButton" href="#">
                    <img width="80px" height="80px" src="../../assets/images/fondo_01.png">
                </a>
            </div>
        </div>
    </div>

    <div class="player">
        Aca va a estar el player
    </div>

    <!--footer>Esto es un footer</footer-->
</body>

</html>