<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Document</title>
</head>

<body>
    <a href="../../index.html">Ir a Home </a>
    <h2>
        Mi Playlist
    </h2>

    <table>
        <tr>
            <td>
                Musica para pasar el rato
            </td>
            
        </tr>
        <tr>
            <td>
                <a class="musicButton" href="#">
                    <img width="80px" height="80px" src="../../assets/images/fondo_01.png">
                </a>
            </td>
            <td>
                <a class="musicButton" href="#">
                    <img width="80px" height="80px" src="../../assets/images/fondo_01.png">
                </a>
            </td>
            <td>
                <a class="musicButton" href="#">
                    <img width="80px" height="80px" src="../../assets/images/fondo_01.png">
                </a>
            </td>
            <td>
                <a class="musicButton" href="#">
                    <img width="80px" height="80px" src="../../assets/images/fondo_01.png">
                </a>
            </td>
            <td>
                <a class="musicButton" href="#">
                    <img width="80px" height="80px" src="../../assets/images/fondo_01.png">
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Listas
            </td>
            
        </tr>
        <tr>
            <td>
                <a href="#">
                    <img width="80px" height="80px" src="../../assets/images/fondo_01.png">
                </a>
            </td>
            <td>
                <a href="#">
                    <img width="80px" height="80px" src="../../assets/images/fondo_01.png">
                </a>
            </td>
            <td>
                <a href="#">
                    <img width="80px" height="80px" src="../../assets/images/fondo_01.png">
                </a>
            </td>

        </tr>
        <tr>
            <td>
                Enfoque
            </td>
            
        </tr>
        <tr>
            <td>
                <a href="#">
                    <img width="80px" height="80px" src="../../assets/images/fondo_01.png">
                </a>
            </td>
            <td>
                <a href="#">
                    <img width="80px" height="80px" src="../../assets/images/fondo_01.png">
                </a>
            </td>
            <td>
                <a href="#">
                    <img width="80px" height="80px" src="../../assets/images/fondo_01.png">
                </a>
            </td>
            <td>
                <a href="#">
                    <img width="80px" height="80px" src="../../assets/images/fondo_01.png">
                </a>
            </td>
            <td>
                <a href="#">
                    <img width="80px" height="80px" src="../../assets/images/fondo_01.png">
                </a>
            </td>
        </tr>
    </table>
    
    <footer>Esto es un footer</footer>
</body>

</html>